@font-face {
    font-family: "Montserrat";
    src: url("../fonts/montserrat/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "Montserrat Italic";
    src: url("../fonts/montserrat/Montserrat-Italic.ttf");
}

@font-face {
    font-family: "Montserrat Bold";
    src: url("../fonts/montserrat/Montserrat-Bold.ttf");
}

@font-face {
    font-family: "Montserrat Light";
    src: url("../fonts/montserrat/Montserrat-Light.ttf");
}


/**********************************************************************************************************
*                                   OVERWRIGHT MAIN TAGS                                                  *
**********************************************************************************************************/
html *
{
   font-family: "Montserrat";
}

h1 {
    font-family: "Montserrat" !important;
	color: #fff !important;
	text-align: center !important;
	font-size: 3em !important;
}
h2 {
    font-family: "Montserrat" !important;
	color: #fff !important;
	text-align: center !important;
	font-size: 1.2em !important;
}
h3 {
    font-family: "Montserrat" !important;
	color: #000;
	text-align: center !important;
	font-size: 3em !important;
}
h4 {
     font-family: "Montserrat" !important;
	color: #000 !important;
	text-align: center !important;
	font-size: 1.2em !important;
}
h5 {
    font-family: "Montserrat Bold" !important;
	font-size: 1.2em !important;
}

a:link {
    color: white;
	font-weight: bold !important;
}


a:visited {
    color: white !important;
	
}

a:hover {
	color: white !important;
    text-decoration: underline !important;
}

a:active {
    color: white !important;
}

body{
	background-color:#F1F1F1 !important;
    /* padding top to adjust for sticky navbar */
    padding-top: 6%;
}

* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

#font-awesome-icons a {
	text-decoration: none !important;
}

/**********************************************************************************************************
*                                           CUSTOM CLASSES                                                *
**********************************************************************************************************/

.watercolour {
	width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}

.header {
	margin-top: -5%;
}

.bold {
    font-family: "Montserrat Bold"!important;
	font-weight: bold !important;
}


.italic {
    font-family: "Montserrat Italic";
}
.light {
    font-family: "Montserrat Light";
}
.glyphicon-menu-hamburger {
  font-size: 100%;
}
.nav-logo {
    margin: 1%;
    max-width: 50% !important;
}

.navbar-inverse {
	background-color: #2A3A57 !important;
}

.navbar-inner {
	background-color: #000 !important; 
	background-image: none !important;
	background-repeat: no-repeat !important;
	filter: none !important;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%
}

.row {
    
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
    padding: 5px;
}

/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 33.3%;
}

/* Clear floats after rows */ 
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.content {
    background-color: white;
}

/* Custom css for main content */
.content-main {
    padding-left: 10%;
	padding-right: 10%;
	padding-top: 5%;
	padding-bottom: 5%;
}
.centre-services {
	padding-top: 6%;
}

.icon-large {
	width: 100px;
}
.services-height {
	padding-top: -5px;
}

/* Custom css for header logo */
.content-header {
    padding-bottom: 2%;
}

/* General css for main thumbnails*/
.thumbnail-main {
	width: 100%;
}

.font-awesome-social {
	margin-top: 2%;
	padding: 1%;
	font-size: 2em !important;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
	padding-top: 2%;
	padding-bottom: 2%;
	color: white;
    background-color:#E0533D;
    text-align: center;
}

.image-spacing {
	padding: 2%;
}



/**********************************************************************************************************
*                                               MEDIA CSS                                                 *
**********************************************************************************************************/

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 640px) {
    .column {
        width: 100%;
    }
}

@media (min-width: 1201px) {
	.watercolour {
		background: url('../images/watercolour_header_large.png') no-repeat;
	}
	.homepage-space {
		padding-top:15%;
	}
}

@media (max-width: 1200px) {
	.watercolour {
		background: url('../images/watercolour_header_medium.png') no-repeat;
	}
	.homepage-space {
		padding-top:15%;
	}
}

@media (max-width: 640px) {
	.watercolour {
		background: url('../images/watercolour_header_small.png') no-repeat;
	}
	.homepage-space {
		padding-top:15%;
	}
}